                                          <div class="col-lg-12">
                                                <div class="form-group mb-4 dapartment-details">

                                            <label class="mb-2 pb-1">Phone Number</label>
                                                    <input type="text" class="form-control" id="phone_number" value="{{phone_number}}">
                                                    <label class="mb-2 pb-1">Address</label>
                                                    <textarea class="form-control" id="address">{{address}}</textarea>
                                                </div>
                                          </div>